<section id="nav_bar_container">
    <article id="nav_bar">
        <aside><img src="https://www.zee5.com/images/ZEE5_logo.svg?ver=2.52.22" alt="" srcset=""></aside>
        <aside><ul>
            <li><a href="">Home</a></li>
            <li><a href="">TV shows</a></li>
            <li><a href="">movies</a></li>
            <li><a href="">web series</a></li>
            <li><a href="">News</a></li>
            <li><a href="" id="menu_icon"><i class="fa-solid fa-rectangle-list"></i></a></li>
        </ul>
        </aside>
        <aside>
            <input type="text" name="search_bar" id="" placeholder="Search for Movies etc..">
            <p class="Languages"><i class="fa-solid fa-language"></i></p>
            <button class="login">login</button>
            <button class="buynow"><span class="crown_icon"><i class="fa-solid fa-crown"></i></span>Buy plan</button>
            <p class="menu_bar"><i class="fa-solid fa-bars"></i></p>
        </aside>
    </article>
</section>