
    <section id="slider_container">
    <article>
        <div class="">
      <img src="https://akamaividz2.zee5.com/image/upload/w_1013,h_405,c_scale,f_webp,q_auto:eco/resources/0-6-3273/cover/1920x770fe194f5f14ab46198ef344fb25611606.jpg" alt="Los Angeles">
    </div>

    <div class="item">
      <img src="https://akamaividz2.zee5.com/image/upload/w_1013,h_405,c_scale,f_webp,q_auto:eco/resources/0-0-1z571846/cover/1920x770da754b896cc8448ba6a213af6121093f.jpg" alt="Chicago">
    </div>

    <div class="item">
      <img src="https://akamaividz2.zee5.com/image/upload/w_1013,h_405,c_scale,f_webp,q_auto:eco/resources/0-0-1z5189943/cover/arjungowdapfp1ag1920x77021072022d3d81608ab6f43678e962b031fa4ed78.jpg" alt="New York">
    </div>
    <div class="item">
      <img src="https://akamaividz2.zee5.com/image/upload/w_1013,h_405,c_scale,f_webp,q_auto:eco/resources/0-0-1z5184500/cover/nodiswamyivanuirodeheegepfp1ag1920x770070720222375939321d44f249f1f43fc6e4e0053.jpg" alt="New York">
    </div>
  </div>
   <div class="item">
      <img src="https://akamaividz2.zee5.com/image/upload/w_1013,h_405,c_scale,f_webp,q_auto:eco/resources/0-0-1z5148988/cover/1920x7703c4ef63cd4de4090a08edb90283ed7df.jpg" alt="New York">
    </div>
    </article>
    <aside class="label_slider">
        
        <label for=""></label><label for=""></label><label for=""></label><label for=""></label><label for=""></label>
    </aside>
    <aside class="arrow_slider">
      <p><i class="fa-solid fa-less-than"></i></p>
      <p><i class="fa-solid fa-greater-than"></i></p> 
      <p><i class="fa-solid fa-magnifying-glass"></i></p>
    </aside>
    </section>


    {{!-- movie collection section starts here --}}

    <section id="movie_collection_container">
      <h1>Top 10 in India</h1>
       <article id="movie_collection"></article>
      {{#each collectionMovies}}
     
        <div><img src={{collectionMovies.url}} /></div>
        
      
      {{/each}}
      </article>
      {{!-- <h1>Top Kannada Movies</h1>
      <article id="movie_collection">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </article>
      <h1>Free and Trending Around You</h1>
      <article id="movie_collection">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </article>
      <h1>Latest Movies on ZEE5</h1>
       <article id="movie_collection">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </article>
      <h1>Premium Before TV Ep | Zee Kannada</h1>
      <article id="movie_collection">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </article>
    </section> --}}

 

