<section id="create_movie_container">
  <article id="create_movie">
    
      <form action="" method="post">
        <h1>create movie page</h1>
    <input type="text" name="title" id="" placeholder="moviename">
    <input type="date" name="year" id="">
    <input type="url" name="url" placeholder="enter URL">
    <input type="text" name="category" placeholder="enter the category">
    <input type="text" name="language" placeholder="enter the language">
    <input type="text" name="generes" placeholder="enter the generes">
    <input type="text" name="certificate" placeholder="certificate name">
    <input type="text" name="casting" placeholder="actors name">
    <input type="text" name="Rating" placeholder="Rating">
    <button>add movie</button>
</form>
  </article>

</section>
